:root {
    --mdc-layout-grid-margin-desktop: 24px;
    --mdc-layout-grid-gutter-desktop: 24px;
    --mdc-layout-grid-column-width-desktop: 72px;
    --mdc-layout-grid-margin-tablet: 16px;
    --mdc-layout-grid-gutter-tablet: 16px;
    --mdc-layout-grid-column-width-tablet: 72px;
    --mdc-layout-grid-margin-phone: 16px;
    --mdc-layout-grid-gutter-phone: 16px;
    --mdc-layout-grid-column-width-phone: 72px
  }
  
  body {
      width: 100%;
      font-family: 'Roboto', sans-serif;
      margin: 0;
      padding: 0;
  }
  
  .container {
      width: 40%;
      margin: 3rem auto;
  }

  .mdc-floating-label {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: .009375em;
    text-decoration: inherit;
    text-transform: inherit;
    position: absolute;
    left: 0;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transition: color .15s cubic-bezier(.4,0,.2,1),-webkit-transform .15s cubic-bezier(.4,0,.2,1);
    transition: color .15s cubic-bezier(.4,0,.2,1),-webkit-transform .15s cubic-bezier(.4,0,.2,1);
    -o-transition: transform .15s cubic-bezier(.4,0,.2,1),color .15s cubic-bezier(.4,0,.2,1);
    transition: transform .15s cubic-bezier(.4,0,.2,1),color .15s cubic-bezier(.4,0,.2,1);
    transition: transform .15s cubic-bezier(.4,0,.2,1),color .15s cubic-bezier(.4,0,.2,1),-webkit-transform .15s cubic-bezier(.4,0,.2,1);
    line-height: 1.15rem;
    text-align: left;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: text;
    overflow: hidden;
    will-change: transform
  }
  
  .mdc-floating-label--float-above {
    cursor: auto;
    -webkit-transform: translateY(-106%) scale(.75);
    -ms-transform: translateY(-106%) scale(.75);
    transform: translateY(-106%) scale(.75)
  }
  
  .mdc-notched-outline {
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    height: 100%;
    text-align: left;
    pointer-events: none
  }
  
  .mdc-notched-outline__leading,.mdc-notched-outline__notch,.mdc-notched-outline__trailing {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    border-top: 1px solid;
    border-bottom: 1px solid;
    pointer-events: none
  }
  
  .mdc-notched-outline__leading {
    border-left: 1px solid;
    border-right: none;
    width: 12px
  }
  
  .mdc-notched-outline__leading[dir=rtl],.mdc-notched-outline__trailing,[dir=rtl] .mdc-notched-outline__leading {
    border-left: none;
    border-right: 1px solid
  }
  
  .mdc-notched-outline__trailing {
    -ms-flex-positive: 1;
    flex-grow: 1
  }
  
  .mdc-notched-outline__notch {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: calc(100% - 12px * 2)
  }
  
  .mdc-notched-outline .mdc-floating-label {
    display: inline-block;
    position: relative;
    max-width: 100%
  }
  
  .mdc-notched-outline .mdc-floating-label--float-above {
    -o-text-overflow: clip;
    text-overflow: clip
  }
  
  .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
    max-width: 133.33333%
  }
  
  .mdc-notched-outline--notched .mdc-notched-outline__notch {
    padding-left: 0;
    padding-right: 8px;
    border-top: none
  }
  
  .mdc-text-field {
    --mdc-ripple-fg-size: 0;
    --mdc-ripple-left: 0;
    --mdc-ripple-top: 0;
    --mdc-ripple-fg-scale: 1;
    --mdc-ripple-fg-translate-end: 0;
    --mdc-ripple-fg-translate-start: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    height: 56px;
    border-radius: 4px 4px 0 0;
    display: -ms-inline-flexbox;
    display: flex;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    will-change: opacity,transform,color;
    margin-bottom: 1rem;
  }
  
  .mdc-text-field:after,.mdc-text-field:before {
    position: absolute;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    content: ""
  }
  
  .mdc-text-field:before {
    -webkit-transition: opacity 15ms linear,background-color 15ms linear;
    -o-transition: opacity 15ms linear,background-color 15ms linear;
    transition: opacity 15ms linear,background-color 15ms linear;
    z-index: 1
  }
  
  .mdc-text-field:after,.mdc-text-field:before {
    background-color: rgba(0,0,0,.87)
  }
  
  .mdc-text-field:hover:before {
    opacity: .04
  }
  
  .mdc-text-field:after,.mdc-text-field:before {
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%
  }
  
  .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: rgba(0,0,0,.6)
  }
  
  .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: rgba(0,0,0,.87)
  }
  
  .mdc-text-field .mdc-text-field__input {
    caret-color: #018786;
    caret-color: var(--mdc-theme-primary,#018786)
  }
  
  .mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--textarea) {
    border-bottom-color: rgba(0,0,0,.12)
  }
  
  .mdc-text-field:not(.mdc-text-field--disabled) {
    background-color: #f5f5f5
  }
  
  .mdc-text-field .mdc-floating-label {
    left: 16px;
    right: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    pointer-events: none
  }
  
  .mdc-text-field .mdc-floating-label--float-above {
    -webkit-transform: translateY(-106%) scale(.75);
    -ms-transform: translateY(-106%) scale(.75);
    transform: translateY(-106%) scale(.75)
  }
  
  .mdc-text-field--outlined .mdc-floating-label {
    left: 4px;
    right: auto
  }
  
  .mdc-text-field__input {
    font-family: Roboto,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .009375em;
    text-decoration: inherit;
    text-transform: inherit;
    -ms-flex-item-align: end;
    align-self: flex-end;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px 16px 6px;
    -webkit-transition: opacity .15s cubic-bezier(.4,0,.2,1);
    -o-transition: opacity .15s cubic-bezier(.4,0,.2,1);
    transition: opacity .15s cubic-bezier(.4,0,.2,1);
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
  }
  
  .mdc-text-field__input:focus {
    outline: none
  }
  
  .mdc-text-field--outlined {
    border: none;
    overflow: visible
  }
  
  .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
    border-color: rgba(0,0,0,.38)
  }
  
  .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) .mdc-text-field__icon:hover~.mdc-notched-outline .mdc-notched-outline__leading,.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) .mdc-text-field__icon:hover~.mdc-notched-outline .mdc-notched-outline__notch,.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) .mdc-text-field__icon:hover~.mdc-notched-outline .mdc-notched-outline__trailing,.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) .mdc-text-field__input:hover~.mdc-notched-outline .mdc-notched-outline__leading,.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) .mdc-text-field__input:hover~.mdc-notched-outline .mdc-notched-outline__notch,.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) .mdc-text-field__input:hover~.mdc-notched-outline .mdc-notched-outline__trailing {
    border-color: rgba(0,0,0,.87)
  }
  
  .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading,.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch,.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
    border-color: #018786;
    border-color: var(--mdc-theme-primary,#018786)
  }
  
  .mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__leading {
    border-radius: 4px 0 0 4px
  }
  
  .mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__leading[dir=rtl],.mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__trailing,[dir=rtl] .mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__leading {
    border-radius: 0 4px 4px 0
  }
  
  .mdc-text-field--outlined .mdc-floating-label--float-above {
    -webkit-transform: translateY(-37.25px) scale(1);
    -ms-transform: translateY(-37.25px) scale(1);
    transform: translateY(-37.25px) scale(1);
    font-size: .75rem
  }
  
  .mdc-text-field--outlined.mdc-notched-outline--upgraded .mdc-floating-label--float-above,.mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
    -webkit-transform: translateY(-34.75px) scale(.75);
    -ms-transform: translateY(-34.75px) scale(.75);
    transform: translateY(-34.75px) scale(.75);
    font-size: 1rem
  }
  
  .mdc-text-field--outlined .mdc-notched-outline--notched .mdc-notched-outline__notch {
    padding-top: 1px
  }
  
  .mdc-text-field--outlined:after,.mdc-text-field--outlined:before {
    content: none
  }
  
  .mdc-text-field--outlined:not(.mdc-text-field--disabled) {
    background-color: transparent
  }
  
  .mdc-text-field--outlined .mdc-text-field__input {
    display: -ms-flexbox;
    display: flex;
    padding: 12px 16px 14px;
    border: none!important;
    background-color: transparent;
    z-index: 1
  }
  
  .mdc-text-field--outlined.mdc-text-field--focused .mdc-notched-outline--notched .mdc-notched-outline__notch {
    padding-top: 2px
  }
  
  .mdc-text-field--outlined.mdc-text-field--focused .mdc-notched-outline__leading,.mdc-text-field--outlined.mdc-text-field--focused .mdc-notched-outline__notch,.mdc-text-field--outlined.mdc-text-field--focused .mdc-notched-outline__trailing {
    border-width: 2px
  }
  
  .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: rgba(1,135,134,.87)
  }
  
  .mdc-notched-outline {
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    height: 100%;
    text-align: left;
    pointer-events: none
  }
  
  .mdc-notched-outline__leading,.mdc-notched-outline__notch,.mdc-notched-outline__trailing {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    border-top: 1px solid;
    border-bottom: 1px solid;
    pointer-events: none
  }
  
  .mdc-notched-outline__leading {
    border-left: 1px solid;
    border-right: none;
    width: 12px
  }
  
  .mdc-notched-outline__leading[dir=rtl],.mdc-notched-outline__trailing,[dir=rtl] .mdc-notched-outline__leading {
    border-left: none;
    border-right: 1px solid
  }
  
  .mdc-notched-outline__trailing {
    -ms-flex-positive: 1;
    flex-grow: 1
  }
  
  .mdc-notched-outline__notch {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: calc(100% - 12px * 2)
  }
  
  .mdc-notched-outline .mdc-floating-label {
    display: inline-block;
    position: relative;
    max-width: 100%
  }
  
  .mdc-notched-outline .mdc-floating-label--float-above {
    -o-text-overflow: clip;
    text-overflow: clip
  }
  
  .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
    max-width: 133.33333%
  }
  
  .mdc-notched-outline--notched .mdc-notched-outline__notch {
    padding-left: 0;
    padding-right: 8px;
    border-top: none
  }
  
  .mdc-floating-label {
    font-family: Roboto,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: .009375em;
    text-decoration: inherit;
    text-transform: inherit;
    position: absolute;
    left: 0;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transition: color .15s cubic-bezier(.4,0,.2,1),-webkit-transform .15s cubic-bezier(.4,0,.2,1);
    transition: color .15s cubic-bezier(.4,0,.2,1),-webkit-transform .15s cubic-bezier(.4,0,.2,1);
    -o-transition: transform .15s cubic-bezier(.4,0,.2,1),color .15s cubic-bezier(.4,0,.2,1);
    transition: transform .15s cubic-bezier(.4,0,.2,1),color .15s cubic-bezier(.4,0,.2,1);
    transition: transform .15s cubic-bezier(.4,0,.2,1),color .15s cubic-bezier(.4,0,.2,1),-webkit-transform .15s cubic-bezier(.4,0,.2,1);
    line-height: 1.15rem;
    text-align: left;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: text;
    overflow: hidden;
    will-change: transform
  }
  
  .mdc-floating-label--float-above {
    cursor: auto;
    -webkit-transform: translateY(-106%) scale(.75);
    -ms-transform: translateY(-106%) scale(.75);
    transform: translateY(-106%) scale(.75)
  }
  
  