@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body {
   font-family: 'Open sans', Arial, sans-serif;
}

h2 {
   font-family: 'Oswald', sans-serif;
   letter-spacing: 1px;
   color: #500000;
}

.u-uppercase {
   text-transform: uppercase;
}

.u-font-bold {
   font-weight: bold;
}

.u-txt-align-left {
   text-align: left;
}

.u-txt-align-center {
   text-align: center;
}

.u-txt-align-right {
   text-align: right;
}

a {
   border-bottom: 1px dotted;
   text-decoration: none;
}

a:hover {
   color: #e4002b !important;
   border-bottom: 1px solid;
}

.c-cal-event-card_grid-wrapper {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
   grid-gap: 20px;
   align-items: stretch;
}

.c-cal-event-card_item {
   padding: 20px;
   background-color: #eaeaea;
}

.c-cal-event-card_date {
   max-width: 50%;
}

.cal_date_month {
   font-family: 'Oswald', sans-serif;
   color: #500000;
   font-weight: normal;
   font-size: 20px;
   letter-spacing: 1.5px;
   text-align: center;
   text-transform: uppercase;
}

.cal_date_day {
   font-family: 'Open Sans';
   color: #500000;
   font-weight: 600;
   font-size: 42px;
   text-align: center;
   line-height: 0.8;
}

.c-cal-event-card_top {
   display: flex;
   flex-direction: row;
   margin-bottom: 10px;
}

.c-cal-event-card_date {
   margin-right: 10px;
   border-right: 3px solid #e4002b;
   padding-right: 15px;
}

.c-cal-event-card_time-location {
   display: flex;
   flex-direction: column;
   width: 70%;
   font-family: "Open sans", Arial, sans-serif;
   justify-content: center;
   color: #3e3e3e;
}

.c-cal-event-card_time {
   font-size: x-small;
   text-transform: uppercase;
}

.c-cal-event-card_location {
   font-weight: bold;
}

.c-cal-event-card_title a {
   color: #500000;
   font-size: large;
}